@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We will never sell your information to any third parties.</p>
<p>This app is in development and will change there will be issues that will eventually be ironed out</p>